/*==============================*/
/*           KEYWORDS           */
/*==============================*/
span.keyword {
    text-transform: uppercase;
    border-radius: 14px;
    padding: 2px 12px 2px 12px;
    white-space: nowrap;
    text-shadow: none;
    font-size: 26px;
    /*color: black; background-color: white;*/
    /*box-shadow: inset -4px 0 0 #000000, inset 0 -4px 0 #000000, inset 4px 0 0 #000000, inset 0 4px 0 #000000;*/
    color: white; background-color: black;
    box-shadow: inset -3px 0 0 #ffffff, inset 0 -3px 0 #ffffff, inset 3px 0 0 #ffffff, inset 0 3px 0 #ffffff;
}

span.keyword-icon {
    padding: 0;
    font-size: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: top;
}

/*==============================*/
/*            ICONS             */
/*==============================*/
span.keyword-icon-city     { background-image: url("../img/icon/terrain_city.png"); }
span.keyword-icon-desert   { background-image: url("../img/icon/terrain_desert.png"); }
span.keyword-icon-forest   { background-image: url("../img/icon/terrain_forest.png"); }
span.keyword-icon-mountain { background-image: url("../img/icon/terrain_mountain.png"); }
span.keyword-icon-plains   { background-image: url("../img/icon/terrain_plains.png"); }
span.keyword-icon-water    { background-image: url("../img/icon/terrain_water.png"); }
span.keyword-icon-fly      { background-image: url("../img/icon/terrain_fly.png"); }
span.keyword-icon-magic    { background-image: url("../img/icon/terrain_magic.png"); }

span.keyword-icon-d6  { background-image: url("../img/dices/d6.png"); }
span.keyword-icon-d10 { background-image: url("../img/dices/d10.png"); }
span.keyword-icon-d20 { background-image: url("../img/dices/d20.png"); }

/*==============================*/
/*            KEYS              */
/*==============================*/
span.keyword-icon-flyer {
    color: #ffffff; background-color: #a91212;
    box-shadow: inset -3px 0 0 #d34545, inset 0 -3px 0 #d34545, inset 3px 0 0 #d34545, inset 0 3px 0 #d34545;
}

span.keyword-defender {
    color: #ffffff; background-color: #65440e;
    box-shadow: inset -3px 0 0 #a28a3a, inset 0 -3px 0 #a28a3a, inset 3px 0 0 #a28a3a, inset 0 3px 0 #a28a3a;
}

span.trait-caster {
    color: #ffffff; background-color: #1156d7;
    box-shadow: inset -3px 0 0 #447ae0, inset 0 -3px 0 #447ae0, inset 3px 0 0 #447ae0, inset 0 3px 0 #447ae0;
}

span.trait-support   {
    color: #ffffff; background-color: #316b1e;
    box-shadow: inset -3px 0 0 #5fa246, inset 0 -3px 0 #5fa246, inset 3px 0 0 #5fa246, inset 0 3px 0 #5fa246;
}

span.trait-fighter   {
    color: #ffffff; background-color: #a19b0a;
    box-shadow: inset -3px 0 0 #ded71f, inset 0 -3px 0 #ded71f, inset 3px 0 0 #ded71f, inset 0 3px 0 #ded71f;
}

span.trait-assassin  {
    color: #ffffff; background-color: #6d098f;
    box-shadow: inset -3px 0 0 #9a23cb, inset 0 -3px 0 #9a23cb, inset 3px 0 0 #9a23cb, inset 0 3px 0 #9a23cb;
}

/*==============================*/
/*       TRAITS ESPECIALES      */
/*==============================*/
span.trait-character {
    color: #ffffff; background-color: #646464;
    box-shadow: inset -3px 0 0 #b9b9b9, inset 0 -3px 0 #b9b9b9, inset 3px 0 0 #b9b9b9, inset 0 3px 0 #b9b9b9;
}

/*==============================*/
/*            SKILLS            */
/*==============================*/
span.skill-ultimate {
    color: #ffffff; background-color: #e30606;
    box-shadow: inset -3px 0 0 #f5f5f5, inset 0 -3px 0 #f5f5f5, inset 3px 0 0 #f5f5f5, inset 0 3px 0 #f5f5f5;
}

/*==============================*/
/*            OTRAS             */
/*==============================*/
span.bold {
    font-family: "scriptuale-b", "serif";
}

span.mana,
span.gold {
    background-color: rgba(156, 203, 255, 1);
    border: 3px solid #046ac4;
    color: #046ac4;
    border-radius: 100px;
    padding: 0 8px;
    font-size: 27px;
    font-family: "scriptuale-b", "serif";
    text-shadow: none;
}

span.gold {
    background-color: rgba(229, 205, 102, 1);
    border-color: #59350a;
    color: #59350a;
}
