div.markdown p  { padding: 8px; }
div.markdown h1 { font-size: 130%; font-weight: bold; padding: 16px 0 0 8px; }
div.markdown h2 { font-size: 115%; font-weight: bold; padding: 10px 0 0 8px; }
div.markdown h3 { font-size: 100%; font-weight: bold; padding: 10px 0 0 8px; }
div.markdown h4 { font-size: 100%; font-weight: bold; padding: 10px 0 0 8px; }

div.markdown ul { padding: 0 0 0 30px; list-style-type: disc; }
div.markdown li { padding: 4px; }

div.markdown em { background-color: rgb(240,240,240); padding: 10px; line-height: 30px; }

div.markdown code { background-color: rgb(245,245,245); border-radius: 4px; padding: 2px 4px 2px 4px; }

div.markdown blockquote { background-color: rgb(245, 245, 245); border-radius: 4px; padding: 2px 4px 2px 4px; font-style: italic; }
div.markdown blockquote p { padding: 2px 4px 2px 4px; border-radius: 4px; }
